*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 8fr 2fr 2fr 1fr;
}

header{
    display: grid;
    background-color: rgb(46, 209, 46);
    color: white;
    
}

nav{
    background-color: yellow;
    color: white;
}

.content1{
    background-color: rgb(247, 10, 235);
    color: white;
}

.content2{
    background-color: blue;
    color: white;
}

.branco{
    
}

.image{
    background-color: red;
    color: white;
}

.extra{
    background-color: greenyellow;
    color: white;
}

footer{
    background-color: purple;
    color: white;
}